/* *Variabels Start*/
:root {
  --main-color: #2196f3;
  --main-color-alt: #2184d2;
  --p-color: #777;
  --bg-background-1: #f44036;
  --bg-background-2: #009688;
  --bg-background-3: #03a9f4;
  --border-color: #e6e6e6;
  --section-background: #ececec;
  --section-padding: 100px;
  --trans-transition: 0.3s;
}
/* *Variabels End*/

/* *Global Rules Start */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* *Global Rules End */

/* *Componts Start */

/* *Section Title Start */
.section-title {
  padding: 5px 30px;
  position: relative;
  margin: 0 auto 80px;
  width: fit-content;
  display: block;
  font-size: 2rem;
  border: 2px solid black;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
  text-transform: uppercase;
  z-index: 1;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 1.2rem;
  }
}

.section-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

.section-title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  width: 0.35em;
  height: 0.35em;
  z-index: -1;
  background-color: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

.section-title:hover::before {
  animation: left-move 1s forwards;
  -webkit-animation: left-move 1s forwards;
}

.section-title:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20%;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  width: 0.35em;
  height: 0.35em;
  z-index: -1;
  background-color: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

.section-title:hover::after {
  animation: right-move 1.2s forwards;
  -webkit-animation: right-move 1.2s forwards;
}

/* *Section Title End */

.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  background-size: 30px;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
}

.grid300 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  justify-content: center;
}

/* *Dots Start */
.dots {
  background: url(../img/dots.png);
  width: 204px;
  height: 186px;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
}

.dots-up {
  right: 0;
  top: 200px;
}

.dots-down {
  left: 0;
  bottom: 200px;
}

@media (max-width: 991px) {
  .dots {
    display: none;
  }
}
/* *Dots End */

/* *Componts End */

/* *Header Start */
header {
  position: relative;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

@media (max-width: 767px) {
  header .container {
    justify-content: center;
  }
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.6rem;
  color: var(--main-color);
  font-size: 1.8rem;
  font-weight: bold;
}

@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 3.6rem;
  }
}

header .container .main-nav {
  display: flex;
}

header .container .main-nav > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.2rem;
  padding: 0 2em;
  height: 4.6rem;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
  overflow-x: hidden;
  color: black;
}

@media (max-width: 767px) {
  header .container .main-nav > li > a {
    font-size: 0.7rem;
    height: 3.6rem;
  }
}

header .container .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3.5px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

header .container .main-nav > li > a:hover::before {
  left: 0;
}

header .container .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}

/* *Mega Menu Start */
header .mega-menu {
  display: flex;
  position: absolute;
  z-index: -1;
  background: white;
  width: 100%;
  left: 0px;
  top: calc(100% + 50px);
  gap: 40px;
  padding: 30px;
  border-bottom: 5px solid var(--main-color);
  opacity: 0;
  transition: top var(--trans-transition), opacity var(--trans-transition);
  -webkit-transition: top var(--trans-transition),
    opacity var(--trans-transition);
  -moz-transition: top var(--trans-transition), opacity var(--trans-transition);
  -ms-transition: top var(--trans-transition), opacity var(--trans-transition);
  -o-transition: top var(--trans-transition), opacity var(--trans-transition);
}

@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0;
  }
}

header .mega-menu .image img {
  flex: 1;
  max-width: 100%;
}

@media (max-width: 991px) {
  header .mega-menu .image img {
    display: none;
  }
}

header .mega-menu ul {
  flex: 1;
  min-width: 250px;
}

header .mega-menu ul > li {
  position: relative;
  padding: 15px;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

@media (max-width: 767px) {
  header .mega-menu ul > li {
    padding: 5px;
  }
}

header .mega-menu ul > li:hover,
header .mega-menu ul > li:hover a {
  color: var(--main-color-alt);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

header .mega-menu ul > li:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

@media (max-width: 767px) {
  header .mega-menu ul > li:hover {
    padding-left: 10px;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  header .mega-menu ul:first-of-type li:last-child {
    border-bottom: 1px solid var(--border-color);
  }
}

header .mega-menu ul > li::before {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

header .mega-menu ul > li:hover::before {
  width: 100%;
}

header .main-nav li:last-child:hover .mega-menu {
  opacity: 1;
  top: calc(100% + 1px);
  z-index: 100;
}

header .mega-menu ul > li > a {
  color: var(--main-color);
  font-size: 1.1rem;
  font-weight: bold;
}

@media (max-width: 767px) {
  header .mega-menu ul > li > a {
    font-size: 0.8rem;
  }
}

header .mega-menu ul > li > a i {
  margin-right: 20px;
}
/* *Mega Menu End */

/* *Header End */

/* *Landing Start */
.landing {
  position: relative;
  overflow-y: hidden;
}

.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -40px;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
  min-height: calc(100dvh - 4.6rem);
}
.landing .container .text {
  flex: 1;
}
@media (max-width: 1199px) {
  .landing .container .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.landing .container .text h1 {
  font-size: 2.5rem;
  letter-spacing: -2px;
  margin: unset;
}
.landing .container .text p {
  font-size: 1.4rem;
  max-width: 500px;
  line-height: 1.7;
  color: var(--p-color);
  margin-top: 5px;
}

.landing .image img {
  position: relative;
  width: 600px;
  animation: up-down 5s linear infinite;
  -webkit-animation: up-down 5s linear infinite;
}
@media (max-width: 1199px) {
  .landing .image img {
    display: none;
  }
}

.landing .go-down {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-color);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

.landing .go-down i {
  font-size: 1.8rem;
  animation: boucing 1.5s;
  -webkit-animation: boucing 1.5s infinite;
}
/* *Landing End */

/* *Articles Section Start */
.articles {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.articles .container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  row-gap: 30px;
}

@media (max-width: 767px) {
  .articles .container {
    gap: 0;
  }
}
.articles .col {
  display: flex;
  flex-direction: column;
}

.articles .col .box {
  flex: 1;
  max-width: 250px;
  background-color: #fafafa;
  margin-bottom: 30px;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.articles .col .box:hover {
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.articles .col .box img {
  width: 100%;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.articles .col .box .text-container {
  padding: 15px;
  height: 150px;
}

.articles .col .box .text-container h4 {
  margin: 0;
}

.articles .col .box .text-container p {
  color: var(--p-color);
  margin: 5px 0 0;
  font-size: 0.9rem;
  overflow-y: hidden;
  text-overflow: ellipsis;
  height: 40ch;
}

.articles .col .box .info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 25px;
  border-top: 1px solid var(--border-color);
  width: 100%;
}

.articles .col .box .info:hover {
  background-color: #ececec;
}

.articles .col .box .info a {
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
}

.articles .col .box .info a:hover {
  color: var(--main-color-alt);
  font-weight: 600;
}

.articles .col .box:hover .info a i {
  animation: moving-arrow 1s infinite;
  -webkit-animation: moving-arrow 1s infinite;
}
/* *Articles End */

/* *Gallery Start */

.gallery {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
  position: relative;
}

.gallery .box {
  background-color: white;
  padding: 15px;
  box-shadow: 0 12px 20px rgb(0 0 0 / 15%);
  box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
}

@media (max-width: 767px) {
  .gallery .container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
}

.gallery .box .image {
  position: relative;
  overflow: hidden;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

.gallery .box .image::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.gallery .box .image:hover::before {
  animation: flashing 0.5s forwards;
  -webkit-animation: flashing 0.5s forwards;
}
.gallery .box .image:hover img {
  transform: scale(1.1) rotate(3deg);
  -webkit-transform: scale(1.1) rotate(3deg);
  -moz-transform: scale(1.1) rotate(3deg);
  -ms-transform: scale(1.1) rotate(3deg);
  -o-transform: scale(1.1) rotate(3deg);
}

.gallery .box .image img {
  max-width: 100%;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}
/* *Gallery end */

/* *Features Start */

.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 350px));
  justify-content: center;
  gap: 40px;
}

.features .col {
  text-align: center;
  border: 1px solid #ccc;
}

.features .col .image {
  position: relative;
  overflow: hidden;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

.features .col .image::after {
  content: "";
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 0 0 170px 500px;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

.features .col:hover .image::after {
  border-width: 170px 500px 170px 0;
}

.features .col .image::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 60%;
  z-index: 1;
}

.features .col:first-child .image::before {
  background-color: var(--bg-background-1);
}

.features .col:nth-child(2) .image::before {
  background-color: var(--bg-background-2);
}

.features .col:last-child .image::before {
  background-color: var(--bg-background-3);
}

.features .col img {
  position: relative;
  max-width: 100%;
}

.features .col .text-container {
  text-align: center;
  line-height: 1.9;
}

.features .col .text-container h2 {
  position: relative;
  max-width: fit-content;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  font-size: 2.7rem;
  margin: auto;
  text-transform: capitalize;
}

.features .col .text-container h2::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 4px;
  bottom: 0;
}

.features .col:first-child h2::before {
  background-color: var(--bg-background-1);
}

.features .col:nth-child(2) h2::before {
  background-color: var(--bg-background-2);
}

.features .col:last-child h2::before {
  background-color: var(--bg-background-3);
}

.features .col .text-container p {
  padding: 1.2em;
  font-size: 1.3rem;
  margin: 30px 0;
  color: var(--p-color);
}

.features .col a {
  width: fit-content;
  display: block;
  font-size: 1.5rem;
  background-color: transparent;
  padding: 5px 20px;
  margin: 30px auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

.features .col:first-child a {
  border: 2px solid var(--bg-background-1);
  color: var(--bg-background-1);
  background: linear-gradient(to right, var(--bg-background-1) 50%, white 50%);
  background-position: right;
  background-size: 200% 200%;
}

.features .col:first-child a {
  border: 2px solid var(--bg-background-1);
  color: var(--bg-background-1);
}

.features .col:nth-child(2) a {
  border: 2px solid var(--bg-background-1);
  color: var(--bg-background-1);
  background: linear-gradient(to right, var(--bg-background-2) 50%, white 50%);
  background-position: right;
  background-size: 200% 200%;
}

.features .col:nth-child(2) a {
  border: 2px solid var(--bg-background-2);
  color: var(--bg-background-2);
}

.features .col:last-child a {
  border: 2px solid var(--bg-background-1);
  color: var(--bg-background-1);
  background: linear-gradient(to right, var(--bg-background-3) 50%, white 50%);
  background-position: right;
  background-size: 200% 200%;
}

.features .col:last-child a {
  border: 2px solid var(--bg-background-3);
  color: var(--bg-background-3);
  position: relative;
}

.features .col:hover a {
  background-position: left;
  color: white;
}
/* *Features end */

/* *Testimonials Start */

.testimonials {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}

.testimonials .container {
  gap: 30px;
  row-gap: 60px;
}

.testimonials .container .box {
  position: relative;
  background-color: white;
  padding: 20px;
  line-height: 1.6;
}

.testimonials .container .box h3 {
  margin: 0;
  font-size: 1.2rem;
}

.testimonials .container .box h6 {
  margin: 10px 0;
  font-weight: 400;
  color: var(--p-color);
}

.testimonials .container .box i {
  color: #ffc107;
}

.testimonials .container .box p {
  color: var(--p-color);
}
.testimonials .container .box img {
  border: 10px solid var(--section-background);
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: -50px;
  width: 100px;
}

/* *Testimonials End */

/* *Team Members Start */

.team-members {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.team-members .container {
  gap: 30px;
}
.team-members .box {
  position: relative;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

.team-members .container .box::after,
.team-members .container .box::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.team-members .container .box::before {
  background-color: var(--section-background);
  width: calc(100% - 60px);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: -1;
}

.team-members .container .box::after {
  background: #e4e4e4;
  width: 0;
  z-index: -1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

.team-members .container .box:hover::after {
  width: calc(100% - 60px);
}

.team-members .data img {
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

.team-members .box:hover .data img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.team-members .container .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}

.team-members .container .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.team-members .container .social a {
  color: var(--p-color);
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

.team-members .container .social a:hover {
  color: var(--main-color);
  z-index: 2;
}

.team-members .container .social a i.fa-instagram:hover {
  color: #e6683c;
}

.team-members .container .social a i.fa-youtube:hover {
  color: #dc2743;
}

.team-members .container .data img {
  width: calc(100% - 60px);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.team-members .container .info {
  padding-left: 80px;
}

.team-members .container .info h3 {
  color: var(--main-color);
}

/* *Team Members End */

/* *Services Start */

.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}

.services .container .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

.services .container .box:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.services .container .box::before {
  content: "";
  position: absolute;
  width: 0;
  left: 50%;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

.services .container .box:hover::before {
  width: 100%;
  left: 0;
  border-top: 3px solid var(--main-color);
}

.services .container .title {
  text-align: center;
}

.services .container .title i {
  margin: 30px auto 20px;
  font-size: 4.5rem;
  color: #d5d5d5;
}

.services .container .title h2 {
  margin: 0 auto 30px;
  font-size: 2rem;
  color: var(--main-color);
}

.services .box .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    120deg,
    var(--main-color) 25%,
    #d5d5d5 25% 40%,
    #f9f9f9 40%
  );
}

.services .box .info p {
  padding: 0.4em;
  margin: unset;
}

.services .box .info p:first-child {
  font-weight: bold;
  padding-left: 1em;
  font-size: 1.5rem;
  color: white;
}

.services .box .info p:last-child {
  padding-right: 1em;
  color: var(--main-color);
}

/* *Services End */

/* *Our Skills Start */

.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.our-skills .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.our-skills .container img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .our-skills .container img {
    display: none;
  }
}

.our-skills .container .statistics {
  flex: 1;
}

.our-skills .skill h3 {
  text-transform: uppercase;
}

.our-skills .statistics .skill-holder {
  background-color: #eee;
  width: 100%;
  height: 30px;
  position: relative;
  transition: width 0.5s linear;
  -webkit-transition: width 0.5s linear;
  -moz-transition: width 0.5s linear;
  -ms-transition: width 0.5s linear;
  -o-transition: width 0.5s linear;
}

.our-skills .skill-holder span {
  background-color: var(--main-color);
  display: block;
  height: 100%;
}

.our-skills .skill-holder span::after {
  content: attr(data-progress);
  border: 1px solid #ccc;
  color: var(--main-color);
  border-radius: 5px;
  padding: 0.6em 0.9em;
  position: absolute;
  font-size: 0.7rem;
  font-weight: bolder;
  right: 0;
  top: calc(-100% - 15px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* *Our Skills End */

/* *Work Steps Start */

.work-steps {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}

.work-steps .container > img {
  max-width: 100%;
  margin-right: 100px;
}

@media (max-width: 991px) {
  .work-steps .container > img {
    display: none;
  }
}

.work-steps .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work-steps .box {
  padding: 2em;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #f6f5f5;
  margin-bottom: 20px;
  border: 2px solid white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (max-width: 1280px) {
  .work-steps .box {
    text-align: center;
    flex-wrap: wrap;
  }
}

.work-steps .box img {
  margin-right: 30px;
  width: 64px;
  height: 64px;
}

@media (max-width: 1280px) {
  .work-steps .box img {
    margin: 10px auto;
  }
}

.work-steps .box .text h2 {
  margin: 0 auto 10px;
  font-size: 1.5rem;
}

.work-steps .box .text p {
  font-size: 1.2rem;
  line-height: 1.7;
  color: var(--p-color);
}

/* *Work Steps End */

/* *Events Start */

.events {
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.events .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.events .container .image img {
  max-width: 450px;
}

@media (max-width: 991px) {
  .events .container .image img {
    display: none;
  }
}
.events .container .info {
  flex: 1;
}

.events .info .time {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.events .info .unit {
  border: 1px solid #d4d4d4;
  width: 75px;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

.events .unit:hover,
.events .unit:hover span:last-child {
  border-color: var(--main-color);
}

.events .info .unit span {
  display: block;
}

.events .unit span:first-child {
  color: var(--main-color);
  font-size: 2.1rem;
  font-weight: bold;
  padding: 1rem;
}

.events .unit span:last-child {
  padding: 8px 10px;
  font-size: 0.9rem;
  border-top: 1px solid #d4d4d4;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

.events .info h2 {
  text-align: center;
  margin: 30px 0 0;
  font-size: 1.8rem;
}

.events .info p {
  text-align: center;
  color: var(--p-color);
  line-height: 1.7;
  font-size: 1.2rem;
}

.events .container .sub {
  margin-top: 50px;
  width: 100%;
}

.events .container .sub form {
  padding: 30px 40px;
  margin: 20px auto;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f5f5;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  gap: 20px;
}

@media (max-width: 767px) {
  .events .container .sub form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 0;
  }
}

.events .sub form input {
  padding: 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: none;
}

@media (max-width: 767px) {
  .events .sub form input {
    border-radius: 0;
    padding: 10px;
    width: 100%;
  }
}

.events .sub form input[type="email"] {
  flex: 1;
  padding-left: 15px;
  caret-color: var(--main-color);
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

.events .sub form input[type="email"]:focus {
  outline: none;
}

.events .sub input:first-child::placeholder {
  transition: opacity var(--trans-transition);
  -webkit-transition: opacity var(--trans-transition);
  -moz-transition: opacity var(--trans-transition);
  -ms-transition: opacity var(--trans-transition);
  -o-transition: opacity var(--trans-transition);
}

.events .sub input:first-child:focus::placeholder {
  opacity: 0;
}

.events .sub form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

.events .sub form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
  cursor: pointer;
}

/* *Events End */

/* *Pricing Start */

.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}

.pricing .container {
  gap: 30px;
}

@media (max-width: 1200px) {
  .pricing .container {
    gap: 40px;
  }
}

.pricing .plan {
  background-color: white;
  text-align: center;
  position: relative;
  box-shadow: 0px 20px 20px rgb(0 0 0 / 13%), 0px 2px 15px rgb(0 0 0 / 12%);
  z-index: 1;
}

@media (min-width: 1200px) {
  .pricing .plan:nth-child(2) {
    top: -20px;
  }
}

.pricing .plan::before,
.pricing .plan::after {
  content: "";
  position: absolute;
  background-color: rgb(0 0 0 / 5%);
  width: 0;
  height: 50%;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
  z-index: -1;
}

.pricing .plan::before {
  top: 0;
  left: 0;
}

.pricing .plan::after {
  top: 50%;
  right: 0;
}

.pricing .plan:hover::before,
.pricing .plan:hover::after {
  width: 100%;
}

.pricing .plan:hover .pricing .plan::before {
  right: 100%;
}

.pricing .plan .title h3 {
  font-size: 1.4rem;
  margin: 30px 0;
  letter-spacing: -1px;
}

.pricing .plan .title img {
  width: 80px;
  margin-bottom: 30px;
}

.pricing .plan .price .amount {
  font-size: 3rem;
  font-weight: bold;
  color: var(--main-color);
}

.pricing .plan .price .time {
  margin: 5px 0;
  color: #777;
}

.pricing .plan ul {
  margin-top: 20px;
  text-align: left;
}

.pricing .plan ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}

.pricing .plan ul li i {
  margin-right: 5px;
  color: var(--main-color);
}

.pricing .plan .choose input[type="submit"] {
  background: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 15px 20px;
  font-weight: bold;
  margin: 30px auto 40px;
  cursor: pointer;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--trans-transition);
  -webkit-transition: var(--trans-transition);
  -moz-transition: var(--trans-transition);
  -ms-transition: var(--trans-transition);
  -o-transition: var(--trans-transition);
}

.pricing .plan .choose input[type="submit"]:hover {
  background-color: var(--main-color);
  color: white;
}

.pricing .plan:nth-child(2) .popular {
  position: absolute;
  background-color: var(--main-color);
  color: white;
  padding: 10px 10px 35px;
  font-weight: bold;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  right: 20px;
  top: 0;
  width: 40px;
}

.pricing .plan:nth-child(2) .popular::after {
  position: absolute;
  content: "";
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 19px;
  right: 0;
  bottom: 0;
}

/* *Pricing End */

/* *Animation Start */

@keyframes up-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}

@keyframes boucing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}

@keyframes left-move {
  50% {
    left: 0;
  }
  100% {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
@keyframes right-move {
  50% {
    right: 0;
  }
  100% {
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
}
@keyframes flashing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

/* *Animation End */
